name: Python CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x' # Use latest Python 3 version
        cache: 'pip'
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r requirements.txt
    - name: Run Black (check only)
      run: black --check .
    - name: Run Flake8
      run: flake8 .
    - name: Run Isort (check only)
      run: isort --check .
    - name: Run Pylint
      run: pylint --rcfile=.pylintrc src tests # Adapt to your project structure
    - name: Run Pytest
      run: pytest
